In [ ]:
# Load required libraries
library(tidyverse)
library(janitor)
library(dplyr)
library(ggplot2)
library(skimr)
library(purrr)
library(lubridate)

# Source helper scripts
source("../../R/apply_factors.R")
source("../../R/analysis_helpers.R")
source("../../R/temporal_helpers.R")

# Load data
tables <- list(
  Orders  = readr::read_csv("../../data/processed/Orders.csv"),
  Returns = readr::read_csv("../../data/processed/Returns.csv"),
  People  = readr::read_csv("../../data/processed/People.csv")
)

# Apply factor transformations
tables <- apply_factors(tables)

# Extract tables
orders  <- tables$Orders
returns <- tables$Returns
people  <- tables$People

Rows: 51290 Columns: 21
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (13): order_id, ship_mode, customer_name, segment, state, country, mark...
dbl   (6): sales, quantity, discount, profit, shipping_cost, year
date  (2): order_date, ship_date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1173 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): order_id, market
lgl (1): returned

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 14 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): person, region

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# Regional Manager Performance Overview

In [ ]:
orders_joined <- orders |>
    left_join( 
        people |> rename(regional_manager = person),
        by = "region"
    )

region_summary <- orders_joined |>
    group_by(region, regional_manager) |>
    summarise(
        total_sales = sum(sales, na.rm = TRUE),
        total_profit = sum(profit, na.rm = TRUE),
        total_orders = n(),
        profit_margin = total_profit / total_sales,
        .groups = "drop"
    )

region_summary_clean <- region_summary |>
    mutate(
        regional_manager = ifelse(
            is.na(regional_manager) | regional_manager == "",
            "Unassigned",
            regional_manager
        )
    )

region_summary_clean

   region         regional_manager     total_sales total_profit total_orders
1  Africa         Deborah Brumfield     783773.21   88871.63     4587
2  Canada         Nicole Hansen          66928.17   17817.39      384
3  Caribbean      Giulietta Dortch      324280.86   34571.32     1690
4  Central        Anna Andreadi        2822302.52  311403.98    11117
5  Central Asia   Nora Preis            752826.57  132480.19     2048
6  East           Kelly Williams        678781.24   91522.78     2848
7  EMEA           Unassigned            806161.31   43897.97     5029
8  North          Jack Lebron          1248165.60  194597.95     4785
9  North Asia     Shirley Daniels       848309.78  165578.42     2338
10 Oceania        Anthony Jacobs       1100184.61  121666.64     3487
11 South          Chuck Magee          1600907.04  140355.77     6645
12 Southeast Asia Alejandro Ballentine  884423.17   17852.33     3129
13 West           Matt Collister        725457.82  108418.45     3203
   profit_margin
1  0.11338947
2  0.26621660
3  0.10660919
4  0.11033685
5  0.17597703
6  0.13483399
7  0.05445309
8  0.15590716
9  0.19518627
10 0.11058748
11 0.08767265
12 0.02018528
13 0.14944831