In [1]:
# Load required libraries
library(tidyverse)
library(janitor)
library(dplyr)
library(ggplot2)
library(skimr)
library(purrr)
library(lubridate)

# Source helper scripts
source("../../R/apply_factors.R")
source("../../R/analysis_helpers.R")
source("../../R/temporal_helpers.R")

# Load data
tables <- list(
  Orders  = readr::read_csv("../../data/processed/Orders.csv"),
  Returns = readr::read_csv("../../data/processed/Returns.csv"),
  People  = readr::read_csv("../../data/processed/People.csv")
)

# Apply factor transformations
tables <- apply_factors(tables)

# Extract tables
orders  <- tables$Orders
returns <- tables$Returns
people  <- tables$People

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.6
✔ forcats   1.0.1     ✔ stringr   1.6.0
✔ ggplot2   4.0.1     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test


Rows: 51290 Columns: 21
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (13): order_id, ship_mode, customer_name, segment, state, country, mark...
dbl   (6): sales, quantity, discount, profit, shipping_cost, year
date  (2): order_date, ship_date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1173 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): order_id, market
lgl (1): returned

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 14 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): person, region

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# General Geographic Performance

### Which regions generate the highest and lowest total sales?

In [2]:
region_sales <- orders |>  
    group_by(region) |>  
    summarise(    
        total_sales = sum(sales),    
        n_orders = n()  
    ) |>  
    arrange(desc(total_sales))

region_sales

   region         total_sales n_orders
1  Central        2822302.52  11117
2  South          1600907.04   6645
3  North          1248165.60   4785
4  Oceania        1100184.61   3487
5  Southeast Asia  884423.17   3129
6  North Asia      848309.78   2338
7  EMEA            806161.31   5029
8  Africa          783773.21   4587
9  Central Asia    752826.57   2048
10 West            725457.82   3203
11 East            678781.24   2848
12 Caribbean       324280.86   1690
13 Canada           66928.17    384

### How does performance differ across markets?

In [3]:
market_sales <- orders |>  
    group_by(market) |>  
    summarise(    
        total_sales = sum(sales),    
        mean_order_value = mean(sales),    
        n_orders = n()  
    ) |>  
    arrange(desc(total_sales))

market_sales

  market total_sales mean_order_value n_orders
1 APAC   3585744.13  325.9175         11002
2 EU     2938089.06  293.8089         10000
3 US     2297200.86  229.8580          9994
4 LATAM  2164605.17  210.2783         10294
5 EMEA    806161.31  160.3025          5029
6 Africa  783773.21  170.8684          4587
7 Canada   66928.17  174.2921           384

### Which countries contribute the most within each market?

In [4]:
country_market_sales <- orders |>  
    group_by(market, country) |>  
    summarise(    
        total_sales = sum(sales, na.rm = TRUE),    
        n_orders = n(),    
        .groups = "drop"  
    ) |>  
    filter(market == "US") |>  
    # "APAC" "LATAM" "EU" "EMEA" "Africa" "Canada" are the other options
    arrange(desc(total_sales))

country_market_sales |> 
    slice_head(n = 10)

country_market_sales |> 
    slice_tail(n = 10)

  market country       total_sales n_orders
1 US     United States 2297201     9994

  market country       total_sales n_orders
1 US     United States 2297201     9994

# Geographic Revenue Structure & Concentration

### How is revenue concentrated within regions?

In [5]:
region_country_sales <- orders |>  
    group_by(region, country) |>  
    summarise(    
        total_sales = sum(sales, na.rm = TRUE),    
        .groups = "drop"  
    )

region_concentration <- region_country_sales |>  
    group_by(region) |>  
    arrange(desc(total_sales), .by_group = TRUE) |>  
    mutate(    
        cumulative_sales = cumsum(total_sales),    
        cumulative_share = cumulative_sales / sum(total_sales),    
        country_rank = row_number()  
    ) |>  
    ungroup()

In [6]:
region_country_tables <- region_concentration |>  
    arrange(country_rank) |>  
    group_split(region)

names(region_country_tables) <- region_concentration |>  
    distinct(region) |>  
    pull(region)

region_country_tables

<list_of<
  tbl_df<
    region          : factor<c2d94>
    country         : factor<46b76>
    total_sales     : double
    cumulative_sales: double
    cumulative_share: double
    country_rank    : integer
  >
>[13]>
$Africa
# A tibble: 45 × 6
   region country     total_sales cumulative_sales cumulative_share country_rank
   <fct>  <fct>             <dbl>            <dbl>            <dbl>        <int>
 1 Africa South Afri…      95292.           95292.            0.122            1
 2 Africa Democratic…      87417.          182709.            0.233            2
 3 Africa Morocco          87078.          269787.            0.344            3
 4 Africa Egypt            84139.          353926.            0.452            4
 5 Africa Nigeria          54350.          408276.            0.521            5
 6 Africa Algeria          36092.          444368.            0.567            6
 7 Africa Senegal          28849.          473217.            0.604            7
 8 Africa Tanzania         26816.          500033.            0.638            8
 9 Africa Zambia           26035.          526069.            0.671            9
10 Africa Cote d'Ivo…      25618.          551687.            0.704           10
# ℹ 35 more rows

$Canada
# A tibble: 1 × 6
  region country total_sales cumulative_sales cumulative_share country_rank
  <fct>  <fct>         <dbl>            <dbl>            <dbl>        <int>
1 Canada Canada       66928.           66928.                1            1

$Caribbean
# A tibble: 8 × 6
  region    country   total_sales cumulative_sales cumulative_share country_rank
  <fct>     <fct>           <dbl>            <dbl>            <dbl>        <int>
1 Caribbean Cuba          158855.          158855.            0.490            1
2 Caribbean Dominica…     126141.          284996.            0.879            2
3 Caribbean Haiti          11038.          296034.            0.913            3
4 Caribbean Barbados        7174.          303208.            0.935            4
5 Caribbean Trinidad…       6881.          310089.            0.956            5
6 Caribbean Jamaica         6762.          316851.            0.977            6
7 Caribbean Martiniq…       5968.          322819.            0.995            7
8 Caribbean Guadelou…       1462.          324281.            1                8

$Central
# A tibble: 12 × 6
   region  country    total_sales cumulative_sales cumulative_share country_rank
   <fct>   <fct>            <dbl>            <dbl>            <dbl>        <int>
 1 Central France         858931.          858931.            0.304            1
 2 Central Germany        628840.         1487771.            0.527            2
 3 Central United St…     501240.         1989011.            0.705            3
 4 Central El Salvad…     177555.         2166566.            0.768            4
 5 Central Nicaragua      149687.         2316253.            0.821            5
 6 Central Guatemala      131602.         2447855.            0.867            6
 7 Central Honduras        90126.         2537981.            0.899            7
 8 Central Austria         81162.         2619143.            0.928            8
 9 Central Netherlan…      77515.         2696658.            0.955            9
10 Central Panama          51540.         2748198.            0.974           10
11 Central Belgium         49227.         2797425.            0.991           11
12 Central Switzerla…      24878.         2822303.            1               12

$`Central Asia`
# A tibble: 6 × 6
  region      country total_sales cumulative_sales cumulative_share country_rank
  <fct>       <fct>         <dbl>            <dbl>            <dbl>        <int>
1 Central As… India       589650.          589650.            0.783            1
2 Central As… Bangla…      78256.          667907.            0.887            2
3 Central As… Pakist…      58873.          726779.            0.965            3
4 Central As… Afghan…      21673.          748453.            0.994            4
5 Central As… Nepal         3522.          751975.            0.999            5
6 Central As… Sri La…        852.          752827.            1                6

$East
# A tibble: 1 × 6
  region country      total_sales cumulative_sales cumulative_share country_rank
  <fct>  <fct>              <dbl>            <dbl>            <dbl>        <int>
1 East   United Stat…     678781.          678781.                1            1

$EMEA
# A tibble: 40 × 6
   region country     total_sales cumulative_sales cumulative_share country_rank
   <fct>  <fct>             <dbl>            <dbl>            <dbl>        <int>
 1 EMEA   Iran            113746.          113746.            0.141            1
 2 EMEA   Turkey          108508.          222254.            0.276            2
 3 EMEA   Ukraine          86857.          309111.            0.383            3
 4 EMEA   Russia           82914.          392025.            0.486            4
 5 EMEA   Saudi Arab…      82012.          474037.            0.588            5
 6 EMEA   Iraq             70715.          544752.            0.676            6
 7 EMEA   Poland           44229.          588981.            0.731            7
 8 EMEA   Romania          37257.          626238.            0.777            8
 9 EMEA   Israel           19294.          645532.            0.801            9
10 EMEA   Bulgaria         15558.          661089.            0.820           10
# ℹ 30 more rows

$North
# A tibble: 7 × 6
  region country      total_sales cumulative_sales cumulative_share country_rank
  <fct>  <fct>              <dbl>            <dbl>            <dbl>        <int>
1 North  Mexico           622591.          622591.            0.499            1
2 North  United King…     528576.         1151167.            0.922            2
3 North  Sweden            30491.         1181658.            0.947            3
4 North  Finland           20704.         1202363.            0.963            4
5 North  Norway            20525.         1222888.            0.980            5
6 North  Ireland           16640.         1239528.            0.993            6
7 North  Denmark            8638.         1248166.            1                7

$`North Asia`
# A tibble: 6 × 6
  region     country  total_sales cumulative_sales cumulative_share country_rank
  <fct>      <fct>          <dbl>            <dbl>            <dbl>        <int>
1 North Asia China       700562.           700562.            0.826            1
2 North Asia Japan       100788.           801350.            0.945            2
3 North Asia South K…     33125.           834475.            0.984            3
4 North Asia Taiwan        7648.           842123.            0.993            4
5 North Asia Hong Ko…      6147            848270.            1.000            5
6 North Asia Mongolia        40.2          848310.            1                6

$Oceania
# A tibble: 3 × 6
  region  country     total_sales cumulative_sales cumulative_share country_rank
  <fct>   <fct>             <dbl>            <dbl>            <dbl>        <int>
1 Oceania Australia       925236.          925236.            0.841            1
2 Oceania New Zealand     172021.         1097256.            0.997            2
3 Oceania Papua New …       2928.         1100185.            1                3

$South
# A tibble: 14 × 6
   region country     total_sales cumulative_sales cumulative_share country_rank
   <fct>  <fct>             <dbl>            <dbl>            <dbl>        <int>
 1 South  United Sta…     391722.          391722.            0.245            1
 2 South  Brazil          361106.          752828.            0.470            2
 3 South  Italy           289710.         1042538.            0.651            3
 4 South  Spain           287147.         1329685.            0.831            4
 5 South  Colombia         81503.         1411187.            0.881            5
 6 South  Argentina        57512.         1468699.            0.917            6
 7 South  Chile            35447.         1504146.            0.940            7
 8 South  Venezuela        26588.         1530734.            0.956            8
 9 South  Peru             17833.         1548567.            0.967            9
10 South  Portugal         15105.         1563672.            0.977           10
11 South  Ecuador          13343.         1577015.            0.985           11
12 South  Bolivia          11589.         1588604.            0.992           12
13 South  Uruguay           9713.         1598317.            0.998           13
14 South  Paraguay          2590.         1600907.            1               14

$`Southeast Asia`
# A tibble: 8 × 6
  region      country total_sales cumulative_sales cumulative_share country_rank
  <fct>       <fct>         <dbl>            <dbl>            <dbl>        <int>
1 Southeast … Indone…     404887.          404887.            0.458            1
2 Southeast … Philip…     183420.          588308.            0.665            2
3 Southeast … Thaila…      77052.          665360.            0.752            3
4 Southeast … Vietnam      65800.          731160.            0.827            4
5 Southeast … Malays…      61362.          792522.            0.896            5
6 Southeast … Singap…      40286.          832808.            0.942            6
7 Southeast … Myanma…      34139.          866947.            0.980            7
8 Southeast … Cambod…      17476.          884423.            1                8

$West
# A tibble: 1 × 6
  region country      total_sales cumulative_sales cumulative_share country_rank
  <fct>  <fct>              <dbl>            <dbl>            <dbl>        <int>
1 West   United Stat…     725458.          725458.                1            1

### What is the diversity in spread across countries in each region?

In [7]:
region_diversity <- region_country_sales |>  
    group_by(region) |>  
    summarise(    
        n_countries = n(),    
        regional_sales = sum(total_sales),    
        mean_country_sales = mean(total_sales),    
        sd_country_sales = sd(total_sales),    
        cv_country_sales = sd_country_sales / mean_country_sales,    
        .groups = "drop"  
    ) |>  
    arrange(cv_country_sales)

region_diversity

   region         n_countries regional_sales mean_country_sales
1  Central        12          2822302.52     235191.88
2  Southeast Asia  8           884423.17     110552.90
3  South          14          1600907.04     114350.50
4  Oceania         3          1100184.61     366728.20
5  Africa         45           783773.21      17417.18
6  North           7          1248165.60     178309.37
7  Caribbean       8           324280.86      40535.11
8  EMEA           40           806161.31      20154.03
9  Central Asia    6           752826.57     125471.09
10 North Asia      6           848309.78     141384.96
11 Canada          1            66928.17      66928.17
12 East            1           678781.24     678781.24
13 West            1           725457.82     725457.82
   sd_country_sales cv_country_sales
1  272751.86        1.159699
2  129243.48        1.169065
3  146769.71        1.283507
4  491015.44        1.338908
5   25337.04        1.454715
6  272819.70        1.530036
7   63589.89        1.568761
8   31893.25        1.582475
9  229478.63        1.828936
10 276478.06        1.955498
11        NA              NA
12        NA              NA
13        NA              NA

# Geographic Volume vs Value

### Do regions differ in average order value versus order volume?

In [8]:
region_volume_value <- orders |>  
    group_by(region) |>  
    summarise(    
        total_sales = sum(sales, na.rm = TRUE),    
        n_orders = n(),    
        avg_order_value = mean(sales, na.rm = TRUE),    
        .groups = "drop"  
    ) |>  
    arrange(desc(total_sales))

region_volume_value

   region         total_sales n_orders avg_order_value
1  Central        2822302.52  11117    253.8727
2  South          1600907.04   6645    240.9190
3  North          1248165.60   4785    260.8497
4  Oceania        1100184.61   3487    315.5104
5  Southeast Asia  884423.17   3129    282.6536
6  North Asia      848309.78   2338    362.8357
7  EMEA            806161.31   5029    160.3025
8  Africa          783773.21   4587    170.8684
9  Central Asia    752826.57   2048    367.5911
10 West            725457.82   3203    226.4932
11 East            678781.24   2848    238.3361
12 Caribbean       324280.86   1690    191.8822
13 Canada           66928.17    384    174.2921

### Are there regions with many orders but low total sales?

In [9]:
region_volume_value |> arrange(n_orders, avg_order_value)

   region         total_sales n_orders avg_order_value
1  Canada           66928.17    384    174.2921
2  Caribbean       324280.86   1690    191.8822
3  Central Asia    752826.57   2048    367.5911
4  North Asia      848309.78   2338    362.8357
5  East            678781.24   2848    238.3361
6  Southeast Asia  884423.17   3129    282.6536
7  West            725457.82   3203    226.4932
8  Oceania        1100184.61   3487    315.5104
9  Africa          783773.21   4587    170.8684
10 North          1248165.60   4785    260.8497
11 EMEA            806161.31   5029    160.3025
12 South          1600907.04   6645    240.9190
13 Central        2822302.52  11117    253.8727

In [10]:
region_volume_value |>  
    mutate(    
        high_volume_low_value = n_orders > median(n_orders) &      
            avg_order_value < median(avg_order_value)  
    ) |>  
    filter(high_volume_low_value)

  region total_sales n_orders avg_order_value high_volume_low_value
1 EMEA   806161.3    5029     160.3025        TRUE
2 Africa 783773.2    4587     170.8684        TRUE

# Category Composition

### How does product category composition vary by region?

In [11]:
region_category_sales <- orders |>  
    group_by(region, category) |>  
    summarise(    
        total_sales = sum(sales, na.rm = TRUE),    
        .groups = "drop"  
    )

region_category_share <- region_category_sales |>  
    group_by(region) |>  
    mutate(    
        category_share = total_sales / sum(total_sales)  
    ) |>  
    # filter(category == "Furniture") |>  
    ungroup()

region_category_share

   region         category        total_sales category_share
1  Africa         Furniture        194650.64  0.2483507
2  Africa         Office Supplies  266755.53  0.3403479
3  Africa         Technology       322367.04  0.4113014
4  Canada         Furniture         10595.28  0.1583082
5  Canada         Office Supplies   30034.08  0.4487510
6  Canada         Technology        26298.81  0.3929408
7  Caribbean      Furniture        118372.40  0.3650305
8  Caribbean      Office Supplies   89575.42  0.2762279
9  Caribbean      Technology       116333.05  0.3587416
10 Central        Furniture        860417.58  0.3048637
11 Central        Office Supplies  923435.28  0.3271922
12 Central        Technology      1038449.66  0.3679441
13 Central Asia   Furniture        284362.90  0.3777270
14 Central Asia   Office Supplies  162766.35  0.2162070
15 Central Asia   Technology       305697.32  0.4060661
16 East           Furniture        208291.20  0.3068606
17 East           Office Supplies  205516.05  0.3027721
18 East           Technology       264973.98  0.3903673
19 EMEA           Furniture        228620.74  0.2835918
20 EMEA           Office Supplies  276685.99  0.3432142
21 EMEA           Technology       300854.58  0.3731940
22 North          Furniture        377629.92  0.3025479
23 North          Office Supplies  374733.45  0.3002274
24 North          Technology       495802.23  0.3972247
25 North Asia     Furniture        335716.46  0.3957475
26 North Asia     Office Supplies  198554.78  0.2340593
27 North Asia     Technology       314038.55  0.3701932
28 Oceania        Furniture        410468.00  0.3730901
29 Oceania        Office Supplies  281713.63  0.2560603
30 Oceania        Technology       408002.98  0.3708496
31 South          Furniture        515749.62  0.3221609
32 South          Office Supplies  515161.34  0.3217934
33 South          Technology       569996.09  0.3560457
34 Southeast Asia Furniture        313386.70  0.3543402
35 Southeast Asia Office Supplies  241285.08  0.2728163
36 Southeast Asia Technology       329751.38  0.3728434
37 West           Furniture        252612.74  0.3482115
38 West           Office Supplies  220853.25  0.3044329
39 West           Technology       251991.83  0.3473556

### Are certain regions specialized in specific product categories?

In [12]:
region_specialization <- region_category_share |>  
    arrange(region, desc(category_share))

region_specialization |>  
    group_by(region) |>  
    slice_max(category_share, n = 1)

   region         category        total_sales category_share
1  Africa         Technology       322367.04  0.4113014
2  Canada         Office Supplies   30034.08  0.4487510
3  Caribbean      Furniture        118372.40  0.3650305
4  Central        Technology      1038449.66  0.3679441
5  Central Asia   Technology       305697.32  0.4060661
6  East           Technology       264973.98  0.3903673
7  EMEA           Technology       300854.58  0.3731940
8  North          Technology       495802.23  0.3972247
9  North Asia     Furniture        335716.46  0.3957475
10 Oceania        Furniture        410468.00  0.3730901
11 South          Technology       569996.09  0.3560457
12 Southeast Asia Technology       329751.38  0.3728434
13 West           Furniture        252612.74  0.3482115

In [13]:
region_specialization |>  
    group_by(region) |>  
    summarise(    
        top_category_share = max(category_share),    
        .groups = "drop"  
    ) |>  
    arrange(desc(top_category_share))

   region         top_category_share
1  Canada         0.4487510
2  Africa         0.4113014
3  Central Asia   0.4060661
4  North          0.3972247
5  North Asia     0.3957475
6  East           0.3903673
7  EMEA           0.3731940
8  Oceania        0.3730901
9  Southeast Asia 0.3728434
10 Central        0.3679441
11 Caribbean      0.3650305
12 South          0.3560457
13 West           0.3482115

# Stability & Consistency

### Are regional sales patterns consistent across customer segments?

In [14]:
region_segment_sales <- orders |>  
    group_by(region, segment) |>  
    summarise(    
        total_sales = sum(sales, na.rm = TRUE),    
        n_orders = n(),    
        .groups = "drop"  
    )

region_segment_share <- region_segment_sales |>  
    group_by(region) |>  
    mutate(    
        segment_share = total_sales / sum(total_sales)  
    ) |>  
    # filter (segment == "Home Office") |>  
    ungroup()

region_segment_share

   region         segment     total_sales n_orders segment_share
1  Africa         Consumer     423766.81  2381     0.5406753
2  Africa         Corporate    204938.95  1312     0.2614774
3  Africa         Home Office  155067.45   894     0.1978473
4  Canada         Consumer      35719.11   202     0.5336932
5  Canada         Corporate     19313.73   110     0.2885740
6  Canada         Home Office   11895.33    72     0.1777328
7  Caribbean      Consumer     162349.21   828     0.5006438
8  Caribbean      Corporate    104537.86   507     0.3223683
9  Caribbean      Home Office   57393.80   355     0.1769879
10 Central        Consumer    1479981.17  5782     0.5243879
11 Central        Corporate    850363.90  3321     0.3013015
12 Central        Home Office  491957.45  2014     0.1743107
13 Central Asia   Consumer     369055.49  1042     0.4902264
14 Central Asia   Corporate    235540.37   613     0.3128747
15 Central Asia   Home Office  148230.71   393     0.1968989
16 East           Consumer     350908.17  1469     0.5169680
17 East           Corporate    200409.35   877     0.2952488
18 East           Home Office  127463.73   502     0.1877832
19 EMEA           Consumer     406745.18  2538     0.5045457
20 EMEA           Corporate    250571.39  1574     0.3108204
21 EMEA           Home Office  148844.73   917     0.1846339
22 North          Consumer     643955.14  2468     0.5159212
23 North          Corporate    394226.15  1487     0.3158444
24 North          Home Office  209984.31   830     0.1682343
25 North Asia     Consumer     407394.92  1170     0.4802431
26 North Asia     Corporate    265747.33   708     0.3132668
27 North Asia     Home Office  175167.53   460     0.2064901
28 Oceania        Consumer     579550.47  1837     0.5267757
29 Oceania        Corporate    322826.91  1053     0.2934298
30 Oceania        Home Office  197807.23   597     0.1797946
31 South          Consumer     824890.16  3479     0.5152642
32 South          Corporate    496014.60  1998     0.3098335
33 South          Home Office  280002.28  1168     0.1749023
34 Southeast Asia Consumer     460752.82  1650     0.5209642
35 Southeast Asia Corporate    254351.71   909     0.2875905
36 Southeast Asia Home Office  169318.65   570     0.1914453
37 West           Consumer     362880.77  1672     0.5002093
38 West           Corporate    225855.27   960     0.3113279
39 West           Home Office  136721.78   571     0.1884628

### Do regions show stable performance across time, or high volatility?

In [15]:
orders_yearly <- orders |>  
    add_time_period("order_date", period = "year")

region_time_sales <- orders_yearly |>  
    group_by(region, period) |>  
    summarise(    
        total_sales = sum(sales, na.rm = TRUE),    
        .groups = "drop"  
    )

region_volatility <- region_time_sales |>  
    group_by(region) |>  
    summarise(    
        mean_sales = mean(total_sales),    
        sd_sales = sd(total_sales),    
        cv_sales = sd_sales / mean_sales,    
        .groups = "drop"  
    ) |>  
    arrange(cv_sales)

region_volatility

   region         mean_sales sd_sales   cv_sales
1  East           169695.31   35936.330 0.2117697
2  North Asia     212077.45   49137.293 0.2316950
3  Central        705575.63  186168.595 0.2638535
4  West           181364.46   50544.938 0.2786926
5  North          312041.40   88914.168 0.2849435
6  South          400226.76  117787.467 0.2943018
7  Caribbean       81070.22   24036.372 0.2964883
8  Central Asia   188206.64   56321.395 0.2992530
9  Oceania        275046.15   83062.357 0.3019943
10 Southeast Asia 221105.79   74567.090 0.3372462
11 EMEA           201540.33   72417.679 0.3593210
12 Canada          16732.04    6198.215 0.3704399
13 Africa         195943.30   73162.611 0.3733866

# Underperformance Diagnostics

### Are underperforming regions associated with markets/countries?

In [16]:
region_sales <- orders |>  
    group_by(region) |>  
    summarise(    
        total_sales = sum(sales),    
        n_orders = n(),    
        avd_order_value = mean(sales),    
        .groups = "drop"  
    )

sales_threshold <- quantile(region_sales$total_sales, 0.25)

underperforming_regions <- region_sales |>  
    filter(total_sales < sales_threshold)

underperforming_regions

  region    total_sales n_orders avd_order_value
1 Canada     66928.17    384     174.2921
2 Caribbean 324280.86   1690     191.8822
3 East      678781.24   2848     238.3361

In [17]:
orders |>  
    filter(region %in% underperforming_regions$region) |>  
    group_by(region, market, country) |>  
    summarise(    
        total_sales = sum(sales),    
        n_orders = n(),    
        avd_order_value = mean(sales),    
        .groups = "drop"  
    ) |>  
    arrange(region, desc(total_sales))

   region    market country             total_sales n_orders avd_order_value
1  Canada    Canada Canada               66928.170   384     174.2921
2  Caribbean LATAM  Cuba                158854.935   724     219.4129
3  Caribbean LATAM  Dominican Republic  126140.581   742     170.0008
4  Caribbean LATAM  Haiti                11038.329   104     106.1378
5  Caribbean LATAM  Barbados              7174.274    26     275.9336
6  Caribbean LATAM  Trinidad and Tobago   6881.164    30     229.3721
7  Caribbean LATAM  Jamaica               6761.786    31     218.1221
8  Caribbean LATAM  Martinique            5968.151    25     238.7260
9  Caribbean LATAM  Guadeloupe            1461.640     8     182.7050
10 East      US     United States       678781.240  2848     238.3361

### Do regions with lower sales show lower order counts or values?

In [18]:
region_volume_value <- orders |>  
    group_by(region) |>  
    summarise(    
        total_sales = sum(sales, na.rm = TRUE),    
        n_orders = n(),    
        avg_order_value = mean(sales, na.rm = TRUE),    
        .groups = "drop"  
    )

In [19]:
region_volume_value |>  
    mutate(    
        sales_per_order = total_sales / n_orders,    
        performance_group = ifelse(      
            total_sales <= sales_threshold,      
            "Underperforming",      
            "Other"    
        )  
    ) |>  
    arrange(performance_group, sales_per_order)

   region         total_sales n_orders avg_order_value sales_per_order
1  EMEA            806161.31   5029    160.3025        160.3025
2  Africa          783773.21   4587    170.8684        170.8684
3  South          1600907.04   6645    240.9190        240.9190
4  Central        2822302.52  11117    253.8727        253.8727
5  North          1248165.60   4785    260.8497        260.8497
6  Southeast Asia  884423.17   3129    282.6536        282.6536
7  Oceania        1100184.61   3487    315.5104        315.5104
8  North Asia      848309.78   2338    362.8357        362.8357
9  Central Asia    752826.57   2048    367.5911        367.5911
10 Canada           66928.17    384    174.2921        174.2921
11 Caribbean       324280.86   1690    191.8822        191.8822
12 West            725457.82   3203    226.4932        226.4932
13 East            678781.24   2848    238.3361        238.3361
   performance_group
1  Other
2  Other
3  Other
4  Other
5  Other
6  Other
7  Other
8  Other
9  Other
10 Underperforming
11 Underperforming
12 Underperforming
13 Underperforming

# Geographic Inequality & Distribution

### How unequal is revenue distribution across regions and markets?

In [20]:
region_inequality <- region_sales |>  
    summarise(    
        mean_sales = mean(total_sales),    
        sd_sales = sd(total_sales),    
        cv_sales = sd_sales / mean_sales  
    )

region_inequality

  mean_sales sd_sales cv_sales
1 972500.1   672757.5 0.6917814

In [21]:
country_sales <- orders |>  
    group_by(market) |>  
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
    )

market_inequality <- market_sales |>  
    summarise(    
        mean_sales = mean(total_sales),    
        sd_sales = sd(total_sales),    
        cv_sales = sd_sales / mean_sales  
    )

market_inequality

  mean_sales sd_sales cv_sales
1 1806072    1283744  0.7107933