In [2]:
# Load required libraries
library(tidyverse)
library(janitor)
library(dplyr)
library(ggplot2)
library(skimr)
library(purrr)
library(lubridate)

# Source helper scripts
source("../../R/apply_factors.R")
source("../../R/analysis_helpers.R")
source("../../R/temporal_helpers.R")

# Load data
tables <- list(
  Orders  = readr::read_csv("../../data/processed/Orders.csv"),
  Returns = readr::read_csv("../../data/processed/Returns.csv"),
  People  = readr::read_csv("../../data/processed/People.csv")
)

# Apply factor transformations
tables <- apply_factors(tables)

# Extract tables
orders  <- tables$Orders
returns <- tables$Returns
people  <- tables$People

Rows: 51290 Columns: 21
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (13): order_id, ship_mode, customer_name, segment, state, country, mark...
dbl   (6): sales, quantity, discount, profit, shipping_cost, year
date  (2): order_date, ship_date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1173 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): order_id, market
lgl (1): returned

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 14 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): person, region

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# General Segment Performance

### How do total sales and order volume differ across segments?

In [3]:
segment_overview <- orders |>  
    group_by(segment) |>  
    summarise(    
        total_sales = sum(sales),    
        n_orders = n(),    
        .groups = "drop"  
    ) |>  
    arrange(desc(total_sales))

segment_overview

  segment     total_sales n_orders
1 Consumer    6507949     26518
2 Corporate   3824698     15429
3 Home Office 2309855      9343

### How do average order values vary across segments?

In [4]:
segment_aov <- orders |>  
    group_by(segment) |>  
    summarise(    
        total_sales = sum(sales),    
        n_orders = n(),    
        avg_order_value = total_sales / n_orders,    
        .groups = "drop"  
    ) |>  
    arrange(desc(avg_order_value))

segment_aov

  segment     total_sales n_orders avg_order_value
1 Corporate   3824698     15429    247.8902
2 Home Office 2309855      9343    247.2284
3 Consumer    6507949     26518    245.4163

# Category Preferences by Segment

### Which product categories dominate sales within each segment?

In [5]:
segment_category_sales <- orders |>  
    group_by(segment, category) |>  
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
    ) |>  
    group_by(segment) |>  
    mutate(    
        category_share = total_sales / sum(total_sales)  
    ) |>  
    arrange(segment, desc(category_share))

segment_category_sales

  segment     category        total_sales category_share
1 Consumer    Technology      2427040.0   0.3729347
2 Consumer    Furniture       2128395.8   0.3270455
3 Consumer    Office Supplies 1952513.6   0.3000198
4 Corporate   Technology      1417791.4   0.3706937
5 Corporate   Furniture       1264519.8   0.3306196
6 Corporate   Office Supplies 1142386.4   0.2986867
7 Home Office Technology       899726.1   0.3895163
8 Home Office Furniture        717958.6   0.3108241
9 Home Office Office Supplies  692170.2   0.2996596

### Are certain sub-categories important for specific segments?

In [6]:
segment_subcategory_sales <- orders |>  
    group_by(segment, category, sub_category) |>  
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
    ) |>  
    group_by(segment) |>  
    mutate(    
        subcategory_share = total_sales / sum(total_sales)  
    ) |>  
    arrange(segment, desc(subcategory_share))

segment_subcategory_sales

   segment     category        sub_category total_sales subcategory_share
1  Consumer    Technology      Phones       905422.28   0.139125587
2  Consumer    Furniture       Chairs       778362.53   0.119601810
3  Consumer    Furniture       Bookcases    765111.14   0.117565626
4  Consumer    Technology      Copiers      757081.42   0.116331792
5  Consumer    Office Supplies Storage      575506.16   0.088431258
6  Consumer    Office Supplies Appliances   510230.28   0.078401083
7  Consumer    Technology      Machines     382373.05   0.058754766
8  Consumer    Technology      Accessories  382163.27   0.058722532
9  Consumer    Furniture       Tables       381726.98   0.058655492
10 Consumer    Office Supplies Binders      253745.11   0.038990025
11 Consumer    Furniture       Furnishings  203195.11   0.031222602
12 Consumer    Office Supplies Art          200870.61   0.030865423
13 Consumer    Office Supplies Supplies     123260.31   0.018939961
14 Consumer    Office Supplies Paper        119654.78   0.018385942
15 Consumer    Office Supplies Envelopes     88473.95   0.013594750
16 Consumer    Office Supplies Fasteners     42074.41   0.006465079
17 Consumer    Office Supplies Labels        38698.04   0.005946272
18 Corporate   Technology      Phones       494085.58   0.129182917
19 Corporate   Technology      Copiers      462774.32   0.120996318
20 Corporate   Furniture       Bookcases    457327.17   0.119572114
21 Corporate   Furniture       Chairs       448519.51   0.117269277
22 Corporate   Office Supplies Storage      340019.36   0.088900981
23 Corporate   Office Supplies Appliances   317655.41   0.083053735
24 Corporate   Furniture       Tables       245793.70   0.064264874
25 Corporate   Technology      Accessories  231023.70   0.060403129
26 Corporate   Technology      Machines     229907.76   0.060111357
27 Corporate   Office Supplies Binders      128534.33   0.033606403
28 Corporate   Furniture       Furnishings  112879.40   0.029513289
29 Corporate   Office Supplies Art          103571.38   0.027079626
30 Corporate   Office Supplies Supplies      81486.40   0.021305318
31 Corporate   Office Supplies Paper         71982.55   0.018820454
32 Corporate   Office Supplies Envelopes     51805.80   0.013545072
33 Corporate   Office Supplies Fasteners     26138.42   0.006834113
34 Corporate   Office Supplies Labels        21192.73   0.005541022
35 Home Office Technology      Phones       307316.27   0.133045700
36 Home Office Technology      Copiers      289580.54   0.125367411
37 Home Office Furniture       Chairs       274799.72   0.118968388
38 Home Office Furniture       Bookcases    244133.93   0.105692319
39 Home Office Office Supplies Storage      211560.34   0.091590314
40 Home Office Office Supplies Appliances   183178.61   0.079303078
41 Home Office Technology      Machines     166779.26   0.072203349
42 Home Office Technology      Accessories  136050.06   0.058899826
43 Home Office Furniture       Tables       129521.24   0.056073323
44 Home Office Office Supplies Binders       79632.07   0.034474922
45 Home Office Furniture       Furnishings   69503.74   0.030090087
46 Home Office Office Supplies Art           67649.97   0.029287542
47 Home Office Office Supplies Paper         52654.39   0.022795542
48 Home Office Office Supplies Supplies      38327.52   0.016593041
49 Home Office Office Supplies Envelopes     30624.55   0.013258213
50 Home Office Office Supplies Fasteners     15029.49   0.006506682
51 Home Office Office Supplies Labels        13513.26   0.005850264

# Volume vs Value

### Are some segments volume-driven while others are value-driven?

In [7]:
segment_volume_value <- orders |>  
    group_by(segment) |>  
    summarise(    
        total_sales = sum(sales),    
        n_orders = n(),    
        avg_order_value = total_sales / n_orders,    
        .groups = "drop"  
    )

segment_volume_value

  segment     total_sales n_orders avg_order_value
1 Consumer    6507949     26518    245.4163
2 Corporate   3824698     15429    247.8902
3 Home Office 2309855      9343    247.2284

### Do segments differ in order frequency per customer?

In [8]:
segment_order_frequency <- orders |>  
    group_by(segment, customer_name) |>  
    summarise(    
        customer_orders = n(),    
        .groups = "drop"  
    ) |>  
    group_by(segment) |>  
    summarise(    
        avg_orders_per_customer = mean(customer_orders),    
        median_orders_per_customer = median(customer_orders),    
        .groups = "drop"  
    )

segment_order_frequency

  segment     avg_orders_per_customer median_orders_per_customer
1 Consumer    64.83619                65.0
2 Corporate   64.82773                63.0
3 Home Office 63.12838                62.5

# Geographic Interaction

### Do segments exhibit different purchasing patterns across regions?

In [9]:
segment_region_sales <- orders |>
    group_by(region, segment) |> 
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
        ) |>  
    group_by(region) |>  
    mutate(    
        segment_share = total_sales / sum(total_sales)  
    ) |> arrange(region, desc(segment_share))

segment_region_sales

   region         segment     total_sales segment_share
1  Africa         Consumer     423766.81  0.5406753
2  Africa         Corporate    204938.95  0.2614774
3  Africa         Home Office  155067.45  0.1978473
4  Canada         Consumer      35719.11  0.5336932
5  Canada         Corporate     19313.73  0.2885740
6  Canada         Home Office   11895.33  0.1777328
7  Caribbean      Consumer     162349.21  0.5006438
8  Caribbean      Corporate    104537.86  0.3223683
9  Caribbean      Home Office   57393.80  0.1769879
10 Central        Consumer    1479981.17  0.5243879
11 Central        Corporate    850363.90  0.3013015
12 Central        Home Office  491957.45  0.1743107
13 Central Asia   Consumer     369055.49  0.4902264
14 Central Asia   Corporate    235540.37  0.3128747
15 Central Asia   Home Office  148230.71  0.1968989
16 East           Consumer     350908.17  0.5169680
17 East           Corporate    200409.35  0.2952488
18 East           Home Office  127463.73  0.1877832
19 EMEA           Consumer     406745.18  0.5045457
20 EMEA           Corporate    250571.39  0.3108204
21 EMEA           Home Office  148844.73  0.1846339
22 North          Consumer     643955.14  0.5159212
23 North          Corporate    394226.15  0.3158444
24 North          Home Office  209984.31  0.1682343
25 North Asia     Consumer     407394.92  0.4802431
26 North Asia     Corporate    265747.33  0.3132668
27 North Asia     Home Office  175167.53  0.2064901
28 Oceania        Consumer     579550.47  0.5267757
29 Oceania        Corporate    322826.91  0.2934298
30 Oceania        Home Office  197807.23  0.1797946
31 South          Consumer     824890.16  0.5152642
32 South          Corporate    496014.60  0.3098335
33 South          Home Office  280002.28  0.1749023
34 Southeast Asia Consumer     460752.82  0.5209642
35 Southeast Asia Corporate    254351.71  0.2875905
36 Southeast Asia Home Office  169318.65  0.1914453
37 West           Consumer     362880.77  0.5002093
38 West           Corporate    225855.27  0.3113279
39 West           Home Office  136721.78  0.1884628

# Stability & Underperformance

### Is any segment consistently underperforming across regions or categories?

In [10]:
segment_region_performance <- orders |>  
    group_by(segment, region) |>  
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
    ) |>  
    group_by(segment) |>  
    summarise(    
        mean_sales = mean(total_sales),    
        sd_sales = sd(total_sales),    
        cv_sales = sd_sales / mean_sales,    
        .groups = "drop"  
    )

segment_region_performance

  segment     mean_sales sd_sales cv_sales
1 Consumer    500611.5   354180.8 0.7074964
2 Corporate   294207.5   204447.1 0.6949078
3 Home Office 177681.2   115154.9 0.6480983

In [12]:
segment_subcategory_performance <- orders |>  
    group_by(segment, sub_category) |>  summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  ) |>  
    group_by(segment) |>  summarise(    
        mean_sales = mean(total_sales),    
        sd_sales = sd(total_sales),   
        cv_sales = sd_sales / mean_sales,    
        .groups = "drop"  
    )
segment_subcategory_performance

  segment     mean_sales sd_sales cv_sales
1 Consumer    382820.6   286026.0 0.7471541
2 Corporate   224982.2   167126.3 0.7428425
3 Home Office 135873.8   100721.4 0.7412865

# Regional Accountability Overview

### How does sales performance vary across regions managed by different individuals?

In [13]:
orders_with_managers <- orders |>  
    left_join(people, by = "region")

manager_sales_performance <- orders_with_managers |>  
    group_by(person, region) |>  
    summarise(    
        total_sales = sum(sales),    
        total_profit = sum(profit),    
        n_orders = n(),    
        .groups = "drop"  
    ) |>  arrange(desc(total_sales))

manager_sales_performance

   person               region         total_sales total_profit n_orders
1  Anna Andreadi        Central        2822302.52  311403.98    11117
2  Chuck Magee          South          1600907.04  140355.77     6645
3  Jack Lebron          North          1248165.60  194597.95     4785
4  Anthony Jacobs       Oceania        1100184.61  121666.64     3487
5  Alejandro Ballentine Southeast Asia  884423.17   17852.33     3129
6  Shirley Daniels      North Asia      848309.78  165578.42     2338
7  NA                   EMEA            806161.31   43897.97     5029
8  Deborah Brumfield    Africa          783773.21   88871.63     4587
9  Nora Preis           Central Asia    752826.57  132480.19     2048
10 Matt Collister       West            725457.82  108418.45     3203
11 Kelly Williams       East            678781.24   91522.78     2848
12 Giulietta Dortch     Caribbean       324280.86   34571.32     1690
13 Nicole Hansen        Canada           66928.17   17817.39      384

### Are differences in regional performance driven by order volume or order value?

In [15]:
manager_volume_value <- orders_with_managers |>  
    group_by(person, region) |>  summarise(    
        total_sales = sum(sales),    
        n_orders = n(),   
        avg_order_value = total_sales / n_orders,    
        .groups = "drop"  
    ) |>  
    arrange(desc(total_sales))
    
manager_volume_value

   person               region         total_sales n_orders avg_order_value
1  Anna Andreadi        Central        2822302.52  11117    253.8727
2  Chuck Magee          South          1600907.04   6645    240.9190
3  Jack Lebron          North          1248165.60   4785    260.8497
4  Anthony Jacobs       Oceania        1100184.61   3487    315.5104
5  Alejandro Ballentine Southeast Asia  884423.17   3129    282.6536
6  Shirley Daniels      North Asia      848309.78   2338    362.8357
7  NA                   EMEA            806161.31   5029    160.3025
8  Deborah Brumfield    Africa          783773.21   4587    170.8684
9  Nora Preis           Central Asia    752826.57   2048    367.5911
10 Matt Collister       West            725457.82   3203    226.4932
11 Kelly Williams       East            678781.24   2848    238.3361
12 Giulietta Dortch     Caribbean       324280.86   1690    191.8822
13 Nicole Hansen        Canada           66928.17    384    174.2921

# Performance Consistency & Risk

### Do regions managed by different individuals show similar stability over time?

In [17]:
manager_sales_over_time <- orders_with_managers |>  
    add_time_period("order_date", period = "year") |>  
    group_by(person, region, period) |>  
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
    )

manager_stability <- manager_sales_over_time |>  
    group_by(person, region) |>  
    summarise(    
        mean_sales = mean(total_sales),    
        sd_sales = sd(total_sales),    
        cv_sales = sd_sales / mean_sales,    
        .groups = "drop"  
    ) |>  
    arrange(desc(cv_sales))

manager_stability

   person               region         mean_sales sd_sales   cv_sales
1  Deborah Brumfield    Africa         195943.30   73162.611 0.3733866
2  Nicole Hansen        Canada          16732.04    6198.215 0.3704399
3  NA                   EMEA           201540.33   72417.679 0.3593210
4  Alejandro Ballentine Southeast Asia 221105.79   74567.090 0.3372462
5  Anthony Jacobs       Oceania        275046.15   83062.357 0.3019943
6  Nora Preis           Central Asia   188206.64   56321.395 0.2992530
7  Giulietta Dortch     Caribbean       81070.22   24036.372 0.2964883
8  Chuck Magee          South          400226.76  117787.467 0.2943018
9  Jack Lebron          North          312041.40   88914.168 0.2849435
10 Matt Collister       West           181364.46   50544.938 0.2786926
11 Anna Andreadi        Central        705575.63  186168.595 0.2638535
12 Shirley Daniels      North Asia     212077.45   49137.293 0.2316950
13 Kelly Williams       East           169695.31   35936.330 0.2117697

### Are underperforming regions associated with specific managers or structural factors?

In [18]:
region_sales <- orders_with_managers |>  
    group_by(region, person) |> 
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
    )

sales_threshold <- quantile(region_sales$total_sales, 0.25)

underperforming_regions <- region_sales |>  
    filter(total_sales <= sales_threshold)

underperforming_regions

  region    person           total_sales
1 Canada    Nicole Hansen     66928.17
2 Caribbean Giulietta Dortch 324280.86
3 East      Kelly Williams   678781.24
4 West      Matt Collister   725457.82

In [19]:
underperforming_diagnostics <- orders_with_managers |>  
    filter(region %in% underperforming_regions$region) |>  
    group_by(region, person) |> 
    summarise(    
        avg_discount = mean(discount),    
        avg_shipping_cost = mean(shipping_cost),    
        avg_profit_margin = sum(profit) / sum(sales),    
        .groups = "drop"  
    )
underperforming_diagnostics

  region    person           avg_discount avg_shipping_cost avg_profit_margin
1 Canada    Nicole Hansen    0.0000000    19.28549          0.2662166
2 Caribbean Giulietta Dortch 0.1357515    21.05880          0.1066092
3 East      Kelly Williams   0.1453652    25.54200          0.1348340
4 West      Matt Collister   0.1093350    23.88769          0.1494483

# Product & Segment Exposure

### Do managers oversee regions with significantly different product or segment mixes?

In [20]:
manager_product_mix <- orders_with_managers |>  
    group_by(person, category) |>  
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"  
    ) |> 
    group_by(person) |>  
    mutate(    
        category_share = total_sales / sum(total_sales)  
    )

manager_product_mix

   person               category        total_sales category_share
1  Alejandro Ballentine Furniture        313386.70  0.3543402
2  Alejandro Ballentine Office Supplies  241285.08  0.2728163
3  Alejandro Ballentine Technology       329751.38  0.3728434
4  Anna Andreadi        Furniture        860417.58  0.3048637
5  Anna Andreadi        Office Supplies  923435.28  0.3271922
6  Anna Andreadi        Technology      1038449.66  0.3679441
7  Anthony Jacobs       Furniture        410468.00  0.3730901
8  Anthony Jacobs       Office Supplies  281713.63  0.2560603
9  Anthony Jacobs       Technology       408002.98  0.3708496
10 Chuck Magee          Furniture        515749.62  0.3221609
11 Chuck Magee          Office Supplies  515161.34  0.3217934
12 Chuck Magee          Technology       569996.09  0.3560457
13 Deborah Brumfield    Furniture        194650.64  0.2483507
14 Deborah Brumfield    Office Supplies  266755.53  0.3403479
15 Deborah Brumfield    Technology       322367.04  0.4113014
16 Giulietta Dortch     Furniture        118372.40  0.3650305
17 Giulietta Dortch     Office Supplies   89575.42  0.2762279
18 Giulietta Dortch     Technology       116333.05  0.3587416
19 Jack Lebron          Furniture        377629.92  0.3025479
20 Jack Lebron          Office Supplies  374733.45  0.3002274
21 Jack Lebron          Technology       495802.23  0.3972247
22 Kelly Williams       Furniture        208291.20  0.3068606
23 Kelly Williams       Office Supplies  205516.05  0.3027721
24 Kelly Williams       Technology       264973.98  0.3903673
25 Matt Collister       Furniture        252612.74  0.3482115
26 Matt Collister       Office Supplies  220853.25  0.3044329
27 Matt Collister       Technology       251991.83  0.3473556
28 Nicole Hansen        Furniture         10595.28  0.1583082
29 Nicole Hansen        Office Supplies   30034.08  0.4487510
30 Nicole Hansen        Technology        26298.81  0.3929408
31 Nora Preis           Furniture        284362.90  0.3777270
32 Nora Preis           Office Supplies  162766.35  0.2162070
33 Nora Preis           Technology       305697.32  0.4060661
34 Shirley Daniels      Furniture        335716.46  0.3957475
35 Shirley Daniels      Office Supplies  198554.78  0.2340593
36 Shirley Daniels      Technology       314038.55  0.3701932
37 NA                   Furniture        228620.74  0.2835918
38 NA                   Office Supplies  276685.99  0.3432142
39 NA                   Technology       300854.58  0.3731940

In [21]:
manager_segment_mix <- orders_with_managers |>  
    group_by(person, segment) |>  
    summarise(    
        total_sales = sum(sales),    
        .groups = "drop"
    ) |>  
    group_by(person) |>  
    mutate(    
        segment_share = total_sales / sum(total_sales)
    )

manager_segment_mix

   person               segment     total_sales segment_share
1  Alejandro Ballentine Consumer     460752.82  0.5209642
2  Alejandro Ballentine Corporate    254351.71  0.2875905
3  Alejandro Ballentine Home Office  169318.65  0.1914453
4  Anna Andreadi        Consumer    1479981.17  0.5243879
5  Anna Andreadi        Corporate    850363.90  0.3013015
6  Anna Andreadi        Home Office  491957.45  0.1743107
7  Anthony Jacobs       Consumer     579550.47  0.5267757
8  Anthony Jacobs       Corporate    322826.91  0.2934298
9  Anthony Jacobs       Home Office  197807.23  0.1797946
10 Chuck Magee          Consumer     824890.16  0.5152642
11 Chuck Magee          Corporate    496014.60  0.3098335
12 Chuck Magee          Home Office  280002.28  0.1749023
13 Deborah Brumfield    Consumer     423766.81  0.5406753
14 Deborah Brumfield    Corporate    204938.95  0.2614774
15 Deborah Brumfield    Home Office  155067.45  0.1978473
16 Giulietta Dortch     Consumer     162349.21  0.5006438
17 Giulietta Dortch     Corporate    104537.86  0.3223683
18 Giulietta Dortch     Home Office   57393.80  0.1769879
19 Jack Lebron          Consumer     643955.14  0.5159212
20 Jack Lebron          Corporate    394226.15  0.3158444
21 Jack Lebron          Home Office  209984.31  0.1682343
22 Kelly Williams       Consumer     350908.17  0.5169680
23 Kelly Williams       Corporate    200409.35  0.2952488
24 Kelly Williams       Home Office  127463.73  0.1877832
25 Matt Collister       Consumer     362880.77  0.5002093
26 Matt Collister       Corporate    225855.27  0.3113279
27 Matt Collister       Home Office  136721.78  0.1884628
28 Nicole Hansen        Consumer      35719.11  0.5336932
29 Nicole Hansen        Corporate     19313.73  0.2885740
30 Nicole Hansen        Home Office   11895.33  0.1777328
31 Nora Preis           Consumer     369055.49  0.4902264
32 Nora Preis           Corporate    235540.37  0.3128747
33 Nora Preis           Home Office  148230.71  0.1968989
34 Shirley Daniels      Consumer     407394.92  0.4802431
35 Shirley Daniels      Corporate    265747.33  0.3132668
36 Shirley Daniels      Home Office  175167.53  0.2064901
37 NA                   Consumer     406745.18  0.5045457
38 NA                   Corporate    250571.39  0.3108204
39 NA                   Home Office  148844.73  0.1846339

# Shipping & Logistics

### Is there a clear correlation between shipping cost and time?

In [22]:
orders_with_shipping_time <- orders |>  
    mutate(    
        shipping_time_days = as.numeric(ship_date - order_date)
    )

shipping_cost_time_corr <- orders_with_shipping_time |>  
    summarise(    
        correlation = cor(shipping_cost, shipping_time_days, use = "complete.obs"),
        avg_shipping_cost = mean(shipping_cost),   
        avg_shipping_time = mean(shipping_time_days)  
)

shipping_cost_time_corr

  correlation avg_shipping_cost avg_shipping_time
1 -0.1428227  26.37582          3.96937

### How do shipping costs vary across regions and shipping modes?

In [23]:
shipping_cost_by_region_mode <- orders |>  
    group_by(region, ship_mode) |>  
    summarise(
        avg_shipping_cost = mean(shipping_cost),    
        median_shipping_cost = median(shipping_cost),    
        n_orders = n(),    
        .groups = "drop"  
    )
    
shipping_cost_by_region_mode

   region         ship_mode      avg_shipping_cost median_shipping_cost
1  Africa         First Class    29.15493           7.8200
2  Africa         Standard Class 13.73457           4.0300
3  Africa         Second Class   23.21031           6.1200
4  Africa         Same Day       34.23514           7.9400
5  Canada         First Class    27.63486           8.2500
6  Canada         Standard Class 11.08954           5.1950
7  Canada         Second Class   29.54165           8.3300
8  Canada         Same Day       21.77690           7.7800
9  Caribbean      First Class    32.35589          14.2150
10 Caribbean      Standard Class 15.43690           5.8020
11 Caribbean      Second Class   25.67176           8.3150
12 Caribbean      Same Day       36.44121          11.3130
13 Central        First Class    42.41591          14.1270
14 Central        Standard Class 20.10081           6.9490
15 Central        Second Class   31.32449           9.7000
16 Central        Same Day       43.88202          13.7450
17 Central Asia   First Class    58.65575          22.8200
18 Central Asia   Standard Class 30.77379          10.0300
19 Central Asia   Second Class   41.70407          13.6350
20 Central Asia   Same Day       68.36684          16.6400
21 East           First Class    37.04155           9.0850
22 East           Standard Class 18.95310           3.9800
23 East           Second Class   27.15113           6.2700
24 East           Same Day       54.80406          10.0400
25 EMEA           First Class    25.79290           7.5050
26 EMEA           Standard Class 12.94622           4.0950
27 EMEA           Second Class   23.04294           6.2200
28 EMEA           Same Day       27.11443           9.2750
29 North          First Class    41.73637          14.8160
30 North          Standard Class 21.59250           7.1180
31 North          Second Class   30.84938          10.7480
32 North          Same Day       44.12527          16.8060
33 North Asia     First Class    71.90823          26.3700
34 North Asia     Standard Class 30.63724          10.9400
35 North Asia     Second Class   41.23411          15.6600
36 North Asia     Same Day       54.51349          16.2250
37 Oceania        First Class    52.95912          17.2700
38 Oceania        Standard Class 26.76851           9.5500
39 Oceania        Second Class   39.69318          12.4400
40 Oceania        Same Day       52.63029          17.9000
41 South          First Class    41.40407          14.4600
42 South          Standard Class 18.32846           6.3285
43 South          Second Class   30.39722           9.1480
44 South          Same Day       41.97548          14.8620
45 Southeast Asia First Class    43.89453          14.1400
46 Southeast Asia Standard Class 24.04165           7.7450
47 Southeast Asia Second Class   33.87067          10.5300
48 Southeast Asia Same Day       48.32772          16.4600
49 West           First Class    36.32748           8.5200
50 West           Standard Class 18.07632           4.7400
51 West           Second Class   25.82329           5.8400
52 West           Same Day       41.87951           8.2300
   n_orders
1   679
2  2659
3   992
4   257
5    70
6   194
7    91
8    29
9   231
10 1002
11  372
12   85
13 1593
14 6780
15 2176
16  568
17  252
18 1277
19  440
20   79
21  490
22 1673
23  530
24  155
25  700
26 3036
27  993
28  300
29  684
30 2901
31  954
32  246
33  385
34 1377
35  470
36  106
37  455
38 2048
39  779
40  205
41  958
42 3978
43 1368
44  341
45  493
46 1968
47  523
48  145
49  515
50 1882
51  621
52  185

### Do shipping costs significantly reduce profit for certain categories or regions?

In [24]:
shipping_profit_impact <- orders |>  
    group_by(category, region) |>  
    summarise(
        total_sales = sum(sales),
        total_profit = sum(profit),
        total_shipping_cost = sum(shipping_cost),
        shipping_cost_share = total_shipping_cost / total_sales,
        profit_margin = total_profit / total_sales,
        .groups = "drop"
    ) |>  
    arrange(desc(shipping_cost_share))

shipping_profit_impact

   category        region         total_sales total_profit total_shipping_cost
1  Office Supplies Africa          266755.53   28480.053    31095.94
2  Technology      Oceania         408002.98   54734.022    47207.84
3  Office Supplies Caribbean        89575.42   14818.276    10323.46
4  Furniture       West            252612.74   11504.950    28716.27
5  Technology      Africa          322367.04   44129.493    36634.49
6  Technology      North Asia      314038.55   72471.015    35509.12
7  Office Supplies East            205516.05   41014.579    23230.42
8  Office Supplies North Asia      198554.78   40926.105    22420.98
9  Office Supplies Canada           30034.08    7957.530     3388.53
10 Furniture       Canada           10595.28    2613.240     1194.75
11 Furniture       EMEA            228620.74   11534.136    25583.05
12 Technology      EMEA            300854.58   17494.443    33548.62
13 Furniture       North Asia      335716.46   52181.301    37100.51
14 Furniture       Southeast Asia  313386.70   -7269.766    34592.93
15 Office Supplies South           515161.34   67495.999    55999.15
16 Furniture       Oceania         410468.00   33626.434    44582.20
17 Technology      Caribbean       116333.05   13529.585    12621.07
18 Furniture       East            208291.20    3046.166    22586.05
19 Office Supplies Southeast Asia  241285.08    4173.251    26059.03
20 Technology      Canada           26298.81    7246.620     2822.35
21 Technology      Central        1038449.66  135538.421   111169.25
22 Furniture       Caribbean       118372.40    6223.460    12644.85
23 Furniture       South           515749.62   22651.628    54971.77
24 Office Supplies North           374733.45   64403.393    39795.98
25 Office Supplies EMEA            276685.99   14869.392    29244.06
26 Technology      North           495802.23   99272.492    52382.07
27 Technology      Central Asia    305697.32   56439.975    32157.44
28 Furniture       Africa          194650.64   16262.085    20409.04
29 Office Supplies Central         923435.28  121314.721    96545.19
30 Furniture       North           377629.92   30922.068    39294.59
31 Furniture       Central         860417.58   54550.840    89224.65
32 Furniture       Central Asia    284362.90   48935.712    29418.81
33 Office Supplies Oceania         281713.63   33306.186    28838.47
34 Technology      East            264973.98   47462.035    26927.15
35 Technology      West            251991.83   44303.650    25542.76
36 Technology      South           569996.09   50208.139    57501.82
37 Office Supplies West            220853.25   52609.849    22253.23
38 Technology      Southeast Asia  329751.38   20948.844    33023.88
39 Office Supplies Central Asia    162766.35   27104.500    16253.90
   shipping_cost_share profit_margin
1  0.11657093           0.10676462
2  0.11570464           0.13415103
3  0.11524876           0.16542793
4  0.11367704           0.04554382
5  0.11364217           0.13689207
6  0.11307249           0.23077108
7  0.11303458           0.19956873
8  0.11292088           0.20611997
9  0.11282283           0.26495002
10 0.11276248           0.24664190
11 0.11190170           0.05045096
12 0.11151108           0.05814917
13 0.11051144           0.15543266
14 0.11038417          -0.02319743
15 0.10870217           0.13101915
16 0.10861309           0.08192218
17 0.10849088           0.11630045
18 0.10843497           0.01462455
19 0.10800100           0.01729594
20 0.10731854           0.27554935
21 0.10705310           0.13051997
22 0.10682259           0.05257526
23 0.10658617           0.04391982
24 0.10619811           0.17186454
25 0.10569404           0.05374104
26 0.10565114           0.20022599
27 0.10519373           0.18462699
28 0.10484959           0.08354499
29 0.10455004           0.13137328
30 0.10405583           0.08188458
31 0.10369925           0.06340042
32 0.10345516           0.17208895
33 0.10236803           0.11822710
34 0.10162186           0.17911961
35 0.10136346           0.17581383
36 0.10088108           0.08808506
37 0.10076026           0.23821180
38 0.10014783           0.06352921
39 0.09986032           0.16652398

# Fulfillment Timing

### What is the distribution of shipping delays?

In [25]:
shipping_delay_summary <- orders_with_shipping_time |>  
    summarise(
        mean_delay = mean(shipping_time_days),
        median_delay = median(shipping_time_days),
        sd_delay = sd(shipping_time_days)
    )
    
shipping_delay_summary

  mean_delay median_delay sd_delay
1 3.96937    4            1.729437

### Are longer shipping delays associated with lower profit or higher return rates?

In [26]:
delay_profit_relationship <- orders_with_shipping_time |>  
    summarise(
        correlation_delay_profit = cor(shipping_time_days, profit,
        use = "complete.obs")
    )
    
delay_profit_relationship

  correlation_delay_profit
1 0.001543151

In [27]:
orders_with_returns <- orders |>  
    left_join(returns, by = "order_id", relationship = "many-to-many") |> 
    mutate(
        returned_flag = ifelse(is.na(returned), 0, 1),
        shipping_time_days = as.numeric(ship_date - order_date)  
    )

delay_buckets <- orders_with_shipping_time |>  mutate(
    delay_bucket = cut(
        shipping_time_days,
        breaks = c(0, 2, 5, 10, Inf),
        labels = c("≤2 days", "2–5 days", "5–10 days", "10+ days")    
        )  
    ) |>  group_by(delay_bucket) |>  
    summarise(
        avg_profit = mean(profit),
        profit_margin = sum(profit) / sum(sales),
        n_orders = n(),
        .groups = "drop"  )

delay_buckets

  delay_bucket avg_profit profit_margin n_orders
1 ≤2 days      28.81055   0.1131050      8688
2 2–5 days     28.52172   0.1168212     30690
3 5–10 days    28.98901   0.1179355      9312
4 NA           28.25062   0.1134180      2600

In [28]:
delay_return_buckets <- orders_with_returns |>  
    mutate(    
        delay_bucket = cut(      
            shipping_time_days,      
            breaks = c(0, 2, 5, 10, Inf),      
            labels = c("≤2 days", "2–5 days", "5–10 days", "10+ days")    
        )  
    ) |>  
    group_by(delay_bucket) |>  
    summarise(    
        return_rate = mean(returned_flag),  
        n_orders = n(),    
        .groups = "drop"  
    )
    
delay_return_buckets

  delay_bucket return_rate n_orders
1 ≤2 days      0.06169429   8688
2 2–5 days     0.05942336  30695
3 5–10 days    0.05627148   9312
4 NA           0.06576923   2600