In [2]:
# load required libraries
library(tidyverse)
library(janitor)
library(dplyr)
library(ggplot2)
library(skimr)
library(purrr)
library(lubridate)

source("../../R/apply_factors.R")
source("../../R/analysis_helpers.R")
source("../../R/temporal_helpers.R")
tables <- list(
  Orders   = readr::read_csv("../../data/processed/Orders.csv"),
  Returns  = readr::read_csv("../../data/processed/Returns.csv"),
  People   = readr::read_csv("../../data/processed/People.csv")
)
tables <- apply_factors(tables)
orders <- tables$Orders 
returns <- tables$Returns
people <- tables$People

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.6
✔ forcats   1.0.1     ✔ stringr   1.6.0
✔ ggplot2   4.0.1     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test


Rows: 51290 Columns: 21
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (13): order_id, ship_mode, customer_name, segment, state, country, mark...
dbl   (6): sales, quantity, discount, profit, shipping_cost, year
date  (2): order_date, ship_date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1173 Columns: 3
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): order_id, market
lgl (1): returned

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 14 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): person, region

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# Overall Sales Evolution

### Q1. How do total sales and order volume evolve over time?

In [ ]:
sales_over_time <- orders %>%
    mutate(order_month = floor_date(order_date, "month")) %>%
    group_by(order_month) %>%
    summarise(
        total_sales = sum(sales),
        n_orders = n(),
        .groups = "drop"
    ) %>%
    arrange(order_month)

sales_over_time

   order_month total_sales n_orders
1  2011-01-01   98898.49    433
2  2011-02-01   91152.16    378
3  2011-03-01  145729.37    539
4  2011-04-01  116915.76    564
5  2011-05-01  146747.84    566
6  2011-06-01  215207.38    917
7  2011-07-01  115510.42    495
8  2011-08-01  207581.49    878
9  2011-09-01  290214.46   1052
10 2011-10-01  199071.26    774
11 2011-11-01  298496.54   1139
12 2011-12-01  333925.73   1263
13 2012-01-01  135780.72    539
14 2012-02-01  100510.22    429
15 2012-03-01  163076.77    662
16 2012-04-01  161052.27    657
17 2012-05-01  208364.89    840
18 2012-06-01  256175.70   1136
19 2012-07-01  145236.79    659
20 2012-08-01  303142.94   1083
21 2012-09-01  289389.17   1223
22 2012-10-01  252939.85    990
23 2012-11-01  323512.42   1460
24 2012-12-01  338256.97   1284
25 2013-01-01  199185.91    709
26 2013-02-01  167239.65    605
27 2013-03-01  198594.03    766
28 2013-04-01  177821.32    785
29 2013-05-01  260498.56   1057
30 2013-06-01  396519.61   1530
31 2013-07-01  229928.95    925
32 2013-08-01  326488.79   1442
33 2013-09-01  376619.25   1682
34 2013-10-01  293406.64   1100
35 2013-11-01  373989.36   1596
36 2013-12-01  405454.38   1602
37 2014-01-01  241268.56    918
38 2014-02-01  184837.36    756
39 2014-03-01  263100.77   1068
40 2014-04-01  242771.86   1051
41 2014-05-01  288401.05   1284
42 2014-06-01  401814.06   1748
43 2014-07-01  258705.68   1087
44 2014-08-01  456619.94   1675
45 2014-09-01  481157.24   2018
46 2014-10-01  422766.63   1626
47 2014-11-01  555279.03   2147
48 2014-12-01  503143.69   2153

### Q2. Are there clear seasonal or cyclical patterns in sales activity?

In [4]:
seasonality <- orders %>%
    mutate(
      year = year(order_date),
      month = month(order_date, label = TRUE)
    ) %>%
    group_by(month) %>%
    summarise(
      avg_monthly_sales = mean(sales),
      avg_order_count = n() / n_distinct(year),
      .groups = "drop"
    ) %>%
    arrange(month)

seasonality

   month avg_monthly_sales avg_order_count
1  Jan   259.7667           649.75
2  Feb   250.8023           542.00
3  Mar   253.8718           758.75
4  Apr   228.5120           764.25
5  May   241.2630           936.75
6  Jun   238.1761          1332.75
7  Jul   236.6967           791.50
8  Aug   254.7919          1269.50
9  Sep   240.5657          1493.75
10 Oct   260.1747          1122.50
11 Nov   244.6038          1585.50
12 Dec   250.8380          1575.50

# Trend Decomposition

### Q3. Do sales trends differ across regions or markets over time?

In [5]:
regional_trends <- orders %>%
    mutate(order_month = floor_date(order_date, "month")) %>%
    group_by(region, order_month) %>%
    summarise(
        total_sales = sum(sales),
        .groups = "drop"
    )

regional_trends

    region order_month total_sales
1   Africa 2011-01-01  11740.899
2   Africa 2011-02-01   8916.597
3   Africa 2011-03-01   3894.444
4   Africa 2011-04-01  10482.429
5   Africa 2011-05-01   6709.398
6   Africa 2011-06-01   7760.352
7   Africa 2011-07-01   8115.213
8   Africa 2011-08-01  16522.782
9   Africa 2011-09-01  14783.853
10  Africa 2011-10-01   7642.803
11  Africa 2011-11-01  12032.169
12  Africa 2011-12-01  18586.335
13  Africa 2012-01-01   6476.013
14  Africa 2012-02-01   3024.600
15  Africa 2012-03-01   9236.256
16  Africa 2012-04-01   6659.382
17  Africa 2012-05-01  10397.472
18  Africa 2012-06-01  17373.372
19  Africa 2012-07-01   6286.536
20  Africa 2012-08-01  18875.160
21  Africa 2012-09-01  17127.174
22  Africa 2012-10-01  12117.546
23  Africa 2012-11-01  16545.651
24  Africa 2012-12-01  20361.543
25  Africa 2013-01-01  11934.489
26  Africa 2013-02-01  26540.604
27  Africa 2013-03-01  13247.541
28  Africa 2013-04-01   9420.363
29  Africa 2013-05-01  13945.065
30  Africa 2013-06-01  15926.784
⋮   ⋮      ⋮           ⋮
594 West   2012-07-01   7089.826
595 West   2012-08-01  12548.359
596 West   2012-09-01  13898.924
597 West   2012-10-01  14016.680
598 West   2012-11-01  14548.896
599 West   2012-12-01  28182.873
600 West   2013-01-01   3657.822
601 West   2013-02-01   3100.162
602 West   2013-03-01  17559.031
603 West   2013-04-01  10370.121
604 West   2013-05-01  10806.135
605 West   2013-06-01  18598.095
606 West   2013-07-01  14417.755
607 West   2013-08-01  12680.980
608 West   2013-09-01  23620.877
609 West   2013-10-01  13135.354
610 West   2013-11-01  26412.345
611 West   2013-12-01  32617.340
612 West   2014-01-01  12586.004
613 West   2014-02-01   9814.917
614 West   2014-03-01  28994.398
615 West   2014-04-01  13196.953
616 West   2014-05-01  15901.646
617 West   2014-06-01  15203.078
618 West   2014-07-01  21390.760
619 West   2014-08-01  24196.758
620 West   2014-09-01  29198.123
621 West   2014-10-01  21556.006
622 West   2014-11-01  28915.957
623 West   2014-12-01  29677.925

In [ ]:
regional_trends_norm <- regional_trends %>%
    group_by(region) %>%
    mutate(
        sales_index = total_sales / mean(total_sales)
    ) %>%
    ungroup()

regional_trends_norm

    region order_month total_sales sales_index
1   Africa 2011-01-01  11740.899   0.7190385
2   Africa 2011-02-01   8916.597   0.5460721
3   Africa 2011-03-01   3894.444   0.2385043
4   Africa 2011-04-01  10482.429   0.6419671
5   Africa 2011-05-01   6709.398   0.4108983
6   Africa 2011-06-01   7760.352   0.4752611
7   Africa 2011-07-01   8115.213   0.4969935
8   Africa 2011-08-01  16522.782   1.0118916
9   Africa 2011-09-01  14783.853   0.9053958
10  Africa 2011-10-01   7642.803   0.4680621
11  Africa 2011-11-01  12032.169   0.7368766
12  Africa 2011-12-01  18586.335   1.1382681
13  Africa 2012-01-01   6476.013   0.3966053
14  Africa 2012-02-01   3024.600   0.1852332
15  Africa 2012-03-01   9236.256   0.5656487
16  Africa 2012-04-01   6659.382   0.4078352
17  Africa 2012-05-01  10397.472   0.6367641
18  Africa 2012-06-01  17373.372   1.0639836
19  Africa 2012-07-01   6286.536   0.3850013
20  Africa 2012-08-01  18875.160   1.1559564
21  Africa 2012-09-01  17127.174   1.0489059
22  Africa 2012-10-01  12117.546   0.7421052
23  Africa 2012-11-01  16545.651   1.0132922
24  Africa 2012-12-01  20361.543   1.2469858
25  Africa 2013-01-01  11934.489   0.7308944
26  Africa 2013-02-01  26540.604   1.6254051
27  Africa 2013-03-01  13247.541   0.8113086
28  Africa 2013-04-01   9420.363   0.5769238
29  Africa 2013-05-01  13945.065   0.8540265
30  Africa 2013-06-01  15926.784   0.9753914
⋮   ⋮      ⋮           ⋮           ⋮
594 West   2012-07-01   7089.826   0.4690991
595 West   2012-08-01  12548.359   0.8302636
596 West   2012-09-01  13898.924   0.9196239
597 West   2012-10-01  14016.680   0.9274152
598 West   2012-11-01  14548.896   0.9626294
599 West   2012-12-01  28182.873   1.8647230
600 West   2013-01-01   3657.822   0.2420202
601 West   2013-02-01   3100.162   0.2051226
602 West   2013-03-01  17559.031   1.1617953
603 West   2013-04-01  10370.121   0.6861402
604 West   2013-05-01  10806.135   0.7149892
605 West   2013-06-01  18598.095   1.2305451
606 West   2013-07-01  14417.755   0.9539524
607 West   2013-08-01  12680.980   0.8390385
608 West   2013-09-01  23620.877   1.5628780
609 West   2013-10-01  13135.354   0.8691022
610 West   2013-11-01  26412.345   1.7475758
611 West   2013-12-01  32617.340   2.1581300
612 West   2014-01-01  12586.004   0.8327544
613 West   2014-02-01   9814.917   0.6494051
614 West   2014-03-01  28994.398   1.9184177
615 West   2014-04-01  13196.953   0.8731779
616 West   2014-05-01  15901.646   1.0521342
617 West   2014-06-01  15203.078   1.0059134
618 West   2014-07-01  21390.760   1.4153221
619 West   2014-08-01  24196.758   1.6009813
620 West   2014-09-01  29198.123   1.9318972
621 West   2014-10-01  21556.006   1.4262556
622 West   2014-11-01  28915.957   1.9132276
623 West   2014-12-01  29677.925   1.9636433

### Q4. Do customer segments exhibit different temporal purchasing patterns?

In [ ]:
segment_trends <- orders %>%
    mutate(order_month = floor_date(order_date, "month")) %>%
    group_by(segment, order_month) %>%
    summarise(
        total_sales = sum(sales),
        n_orders = n(),
        .groups = "drop"
    )

segment_trends_norm <- segment_trends %>%
    group_by(segment) %>%
    mutate(
        sales_index = total_sales / mean(total_sales)
    ) %>%
    ungroup()

segment_trends_norm

    segment     order_month total_sales n_orders sales_index
1   Consumer    2011-01-01   56687.37   252      0.4181031
2   Consumer    2011-02-01   35260.31   174      0.2600658
3   Consumer    2011-03-01   70156.34   313      0.5174447
4   Consumer    2011-04-01   52974.71   255      0.3907200
5   Consumer    2011-05-01   78396.64   318      0.5782219
6   Consumer    2011-06-01  111023.49   489      0.8188643
7   Consumer    2011-07-01   63109.99   263      0.4654738
8   Consumer    2011-08-01  112959.50   475      0.8331436
9   Consumer    2011-09-01  169430.00   540      1.2496471
10  Consumer    2011-10-01  101361.89   383      0.7476042
11  Consumer    2011-11-01  161980.41   609      1.1947019
12  Consumer    2011-12-01  160330.62   636      1.1825338
13  Consumer    2012-01-01   83187.23   290      0.6135553
14  Consumer    2012-02-01   56041.81   238      0.4133417
15  Consumer    2012-03-01   84282.17   340      0.6216312
16  Consumer    2012-04-01   90183.93   357      0.6651601
17  Consumer    2012-05-01  113501.89   397      0.8371440
18  Consumer    2012-06-01  144747.29   637      1.0675974
19  Consumer    2012-07-01   80062.27   308      0.5905069
20  Consumer    2012-08-01  160857.31   559      1.1864184
21  Consumer    2012-09-01  164682.97   644      1.2146349
22  Consumer    2012-10-01  134856.80   519      0.9946492
23  Consumer    2012-11-01  165246.36   777      1.2187902
24  Consumer    2012-12-01  186110.27   719      1.3726740
25  Consumer    2013-01-01   96246.07   357      0.7098721
26  Consumer    2013-02-01   86171.00   312      0.6355624
27  Consumer    2013-03-01  108130.34   418      0.7975256
28  Consumer    2013-04-01   87827.05   407      0.6477768
29  Consumer    2013-05-01  142551.48   588      1.0514020
30  Consumer    2013-06-01  206245.85   789      1.5211859
⋮   ⋮           ⋮           ⋮           ⋮        ⋮
115 Home Office 2012-07-01   22402.40   134      0.4655336
116 Home Office 2012-08-01   56957.20   215      1.1836005
117 Home Office 2012-09-01   50815.56   248      1.0559740
118 Home Office 2012-10-01   39398.61   172      0.8187238
119 Home Office 2012-11-01   57095.68   229      1.1864783
120 Home Office 2012-12-01   54308.59   202      1.1285611
121 Home Office 2013-01-01   37297.39   138      0.7750594
122 Home Office 2013-02-01   35708.99   109      0.7420515
123 Home Office 2013-03-01   35839.55   126      0.7447646
124 Home Office 2013-04-01   31556.74   164      0.6557657
125 Home Office 2013-05-01   38523.78   165      0.8005444
126 Home Office 2013-06-01   71640.38   287      1.4887247
127 Home Office 2013-07-01   40366.93   181      0.8388459
128 Home Office 2013-08-01   60352.57   249      1.2541582
129 Home Office 2013-09-01   74946.73   316      1.5574325
130 Home Office 2013-10-01   66618.02   224      1.3843574
131 Home Office 2013-11-01   52493.89   266      1.0908506
132 Home Office 2013-12-01   66172.75   278      1.3751046
133 Home Office 2014-01-01   41243.91   158      0.8570701
134 Home Office 2014-02-01   41186.97   169      0.8558868
135 Home Office 2014-03-01   58410.30   238      1.2137967
136 Home Office 2014-04-01   45807.12   204      0.9518960
137 Home Office 2014-05-01   53421.69   244      1.1101307
138 Home Office 2014-06-01   78019.46   351      1.6212854
139 Home Office 2014-07-01   51042.18   207      1.0606834
140 Home Office 2014-08-01   92350.10   355      1.9190836
141 Home Office 2014-09-01  111605.31   404      2.3192170
142 Home Office 2014-10-01   93043.75   313      1.9334979
143 Home Office 2014-11-01  110244.97   395      2.2909485
144 Home Office 2014-12-01   88625.70   346      1.8416886

# Product & Category Dynamics

### Q5. Are certain product categories gaining or losing importance over time?

In [ ]:
category_trends <- orders %>%
    mutate(order_month = floor_date(order_date, "month")) %>%
    group_by(order_month, category) %>%
    summarise(
        total_sales = sum(sales),
        .groups = "drop"
    ) %>%
    group_by(order_month) %>%
    mutate(
        category_share = total_sales / sum(total_sales)
    ) %>%
    ungroup()

category_trends

    order_month category        total_sales category_share
1   2011-01-01  Furniture        34463.75   0.3484760
2   2011-01-01  Office Supplies  33526.73   0.3390014
3   2011-01-01  Technology       30908.01   0.3125226
4   2011-02-01  Furniture        30641.20   0.3361545
5   2011-02-01  Office Supplies  22277.00   0.2443935
6   2011-02-01  Technology       38233.95   0.4194520
7   2011-03-01  Furniture        44780.14   0.3072829
8   2011-03-01  Office Supplies  34395.13   0.2360206
9   2011-03-01  Technology       66554.09   0.4566965
10  2011-04-01  Furniture        31344.87   0.2680979
11  2011-04-01  Office Supplies  46604.12   0.3986128
12  2011-04-01  Technology       38966.78   0.3332893
13  2011-05-01  Furniture        44980.67   0.3065167
14  2011-05-01  Office Supplies  46109.59   0.3142096
15  2011-05-01  Technology       55657.58   0.3792736
16  2011-06-01  Furniture        78368.85   0.3641550
17  2011-06-01  Office Supplies  65149.73   0.3027300
18  2011-06-01  Technology       71688.79   0.3331149
19  2011-07-01  Furniture        31385.19   0.2717088
20  2011-07-01  Office Supplies  41358.64   0.3580512
21  2011-07-01  Technology       42766.59   0.3702401
22  2011-08-01  Furniture        69984.46   0.3371421
23  2011-08-01  Office Supplies  56697.21   0.2731323
24  2011-08-01  Technology       80899.82   0.3897256
25  2011-09-01  Furniture        95029.12   0.3274445
26  2011-09-01  Office Supplies 102938.76   0.3546989
27  2011-09-01  Technology       92246.58   0.3178566
28  2011-10-01  Furniture        77411.70   0.3888643
29  2011-10-01  Office Supplies  48234.82   0.2422993
30  2011-10-01  Technology       73424.74   0.3688364
⋮   ⋮           ⋮               ⋮           ⋮
115 2014-03-01  Furniture        89705.38   0.3409545
116 2014-03-01  Office Supplies  77576.27   0.2948538
117 2014-03-01  Technology       95819.12   0.3641917
118 2014-04-01  Furniture        70576.33   0.2907105
119 2014-04-01  Office Supplies  81346.36   0.3350733
120 2014-04-01  Technology       90849.17   0.3742162
121 2014-05-01  Furniture        98312.10   0.3408868
122 2014-05-01  Office Supplies  97974.89   0.3397175
123 2014-05-01  Technology       92114.05   0.3193957
124 2014-06-01  Furniture       136154.28   0.3388490
125 2014-06-01  Office Supplies 120308.81   0.2994141
126 2014-06-01  Technology      145350.97   0.3617369
127 2014-07-01  Furniture        82368.18   0.3183857
128 2014-07-01  Office Supplies  76947.50   0.2974326
129 2014-07-01  Technology       99389.99   0.3841817
130 2014-08-01  Furniture       126283.84   0.2765623
131 2014-08-01  Office Supplies 155430.77   0.3403942
132 2014-08-01  Technology      174905.33   0.3830436
133 2014-09-01  Furniture       175776.64   0.3653206
134 2014-09-01  Office Supplies 134386.53   0.2792986
135 2014-09-01  Technology      170994.07   0.3553809
136 2014-10-01  Furniture       130701.18   0.3091568
137 2014-10-01  Office Supplies 115770.93   0.2738412
138 2014-10-01  Technology      176294.52   0.4170020
139 2014-11-01  Furniture       168848.67   0.3040790
140 2014-11-01  Office Supplies 163851.32   0.2950793
141 2014-11-01  Technology      222579.04   0.4008418
142 2014-12-01  Furniture       171826.78   0.3415064
143 2014-12-01  Office Supplies 150220.19   0.2985632
144 2014-12-01  Technology      181096.73   0.3599304

# Stability & Volatility

### Q6. Which regions or segments show the highest volatility in sales over time?

In [9]:
sales_volatility <- orders %>%
  mutate(order_month = floor_date(order_date, "month")) %>%
    group_by(region, order_month) %>%
    summarise(
        total_sales = sum(sales),
        .groups = "drop"
    ) %>%
    group_by(region) %>%
    summarise(
        mean_sales = mean(total_sales),
        sd_sales = sd(total_sales),
        cv_sales = sd_sales / mean_sales,
        .groups = "drop"
    ) %>%
    arrange(desc(cv_sales))

sales_volatility

   region         mean_sales sd_sales  cv_sales
1  Canada          1424.004   1480.318 1.0395464
2  East           14141.276  10525.704 0.7443249
3  Caribbean       6755.851   4462.477 0.6605351
4  Central Asia   15683.887   9196.429 0.5863616
5  EMEA           16795.027   9316.224 0.5547013
6  West           15113.705   8318.965 0.5504252
7  Oceania        22920.513  12094.640 0.5276775
8  Southeast Asia 18425.483   9436.463 0.5121420
9  Africa         16328.609   8311.769 0.5090311
10 South          33352.230  16165.186 0.4846808
11 North Asia     17673.120   8386.678 0.4745443
12 North          26003.450  12275.685 0.4720791
13 Central        58797.969  27583.524 0.4691238

# Return-Aware Trends

### Q7. Do return rates change over time or show seasonal spikes?

In [12]:
returns_over_time <- orders %>%
    left_join(returns, by = "order_id", relationship = "many-to-many") %>%
    mutate(
        order_month = floor_date(order_date, "month"),
        returned = if_else(is.na(returned), 0, 1)
    ) %>%
    group_by(order_month) %>%
    summarise(
        n_orders = n(),
        n_returns = sum(returned),
        return_rate = n_returns / n_orders,
        .groups = "drop"
    ) %>%
    arrange(order_month)

returns_over_time

   order_month n_orders n_returns return_rate
1  2011-01-01   433      16       0.03695150
2  2011-02-01   378      21       0.05555556
3  2011-03-01   539      13       0.02411874
4  2011-04-01   564      43       0.07624113
5  2011-05-01   566      27       0.04770318
6  2011-06-01   917      77       0.08396947
7  2011-07-01   495      51       0.10303030
8  2011-08-01   878      42       0.04783599
9  2011-09-01  1052      59       0.05608365
10 2011-10-01   774      56       0.07235142
11 2011-11-01  1139      62       0.05443371
12 2011-12-01  1263      82       0.06492478
13 2012-01-01   539      31       0.05751391
14 2012-02-01   429      23       0.05361305
15 2012-03-01   662      29       0.04380665
16 2012-04-01   657      54       0.08219178
17 2012-05-01   840      61       0.07261905
18 2012-06-01  1136      34       0.02992958
19 2012-07-01   659      35       0.05311077
20 2012-08-01  1083      71       0.06555863
21 2012-09-01  1223      57       0.04660670
22 2012-10-01   990      90       0.09090909
23 2012-11-01  1460      96       0.06575342
24 2012-12-01  1284     114       0.08878505
25 2013-01-01   709      39       0.05500705
26 2013-02-01   605      29       0.04793388
27 2013-03-01   766      36       0.04699739
28 2013-04-01   785      44       0.05605096
29 2013-05-01  1057      72       0.06811731
30 2013-06-01  1530      78       0.05098039
31 2013-07-01   925      41       0.04432432
32 2013-08-01  1442     108       0.07489598
33 2013-09-01  1682     108       0.06420927
34 2013-10-01  1100      90       0.08181818
35 2013-11-01  1596      79       0.04949875
36 2013-12-01  1602      79       0.04931336
37 2014-01-01   918      56       0.06100218
38 2014-02-01   756      57       0.07539683
39 2014-03-01  1068      62       0.05805243
40 2014-04-01  1051      48       0.04567079
41 2014-05-01  1284      61       0.04750779
42 2014-06-01  1751      94       0.05368361
43 2014-07-01  1087      49       0.04507820
44 2014-08-01  1675     115       0.06865672
45 2014-09-01  2018     142       0.07036670
46 2014-10-01  1626      76       0.04674047
47 2014-11-01  2149     145       0.06747324
48 2014-12-01  2153     103       0.04784022